.home-container{
    display: flex;
    margin:40px 40px;
    align-items: center;
    flex-flow: column;
    .home-column{
        width: 80%;
        display: flex;
        flex-flow: wrap;
        }
}